@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 8%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 8%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 8%;

    --primary: 0 0% 13%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 97%;
    --secondary-foreground: 0 0% 13%;

    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 56%;
    --muted-foreground-51: 0 0% 56%; /* RN does not support color-mix */

    --accent: 0 0% 97%;
    --accent-foreground: 0 0% 13%;

    --destructive: 14 84% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 71%;

    --radius: 0.625rem;

    --chart-1: 252 64% 73%;
    --chart-2: 260 69% 53%;
    --chart-3: 263 73% 46%;
    --chart-4: 264 71% 42%;
    --chart-5: 266 61% 38%;

    --header-h: 48px;

    interpolate-size: allow-keywords;
  }

  .dark:root {
    --background: 300 0% 4%;
    --foreground: 0 0% 98%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 87%;
    --primary-foreground: 0 0% 13%;

    --secondary: 0 0% 27%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 27%;
    --muted-foreground: 0 0% 71%;

    --accent: 0 0% 37%;
    --accent-foreground: 0 0% 98%;

    --destructive: 14 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 56%;

    --chart-1: 252 64% 73%;
    --chart-2: 260 69% 53%;
    --chart-3: 263 73% 46%;
    --chart-4: 264 71% 42%;
    --chart-5: 266 61% 38%;
  }

  text {
    @apply font-sans;
  }
}
